* {
	box-sizing: border-box;
}




body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background: rgb(98,9,9);
	background: linear-gradient(142deg, rgba(98,9,9,1) 0%, rgba(255,0,0,1) 100%);

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.bg {
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
}




